@model LibrarySystem.Models.Library

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Library</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MediaType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePurchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN_ISSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN_ISSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
